﻿
@{
    ViewData["Title"] = "No encontrado";
}

<h1 class="text-danger">El recurso solicitado no ha sido encontrado</h1>

<a style="cursor: pointer; text-decoration: none;" class="alert-link" asp-action="Index" asp-controller="Home">Click aquí para regresar al inicio.</a>